<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <h1 class="header__title">Wish</h1>
        <nav class="header__menu">
            <ul class="header__list">
                <li class="header__item">
                    <img src="img/person.svg" alt="person">
                    <div>Войти</div>
                </li>
                <li class="header__item">
                    <img src="img/order.svg" alt="person">
                    <div>Мои заказы</div>
                </li>
                <li class="header__item">
                    <img src="img/shop.svg" alt="person">
                    <div>Корзина</div>
                </li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <img src="img/main.png" alt="">
        <div class="main__content">
            <h2 class="main__title">GLAMOUR IS BACK</h2>
            <button onclick="toCollection()" class="main__button">COLLECTION</button>
        </div>
    </section>
    <script src="js/index.js"></script>
</body>
</html>